extends ../layout 

block content 
    h1 #{title} 
    p Create a New Book by filling out the * required information 
    p
    if (error)
        h3.errors Oops an error occurred!
        ul.errors
            each err in error
                li #{err.message}
    p
    form(action="/books/new", method="post")
        p 
            label(for="title") * Title :
            input(type="text" id="title" name="title" value=book.title)
        p 
            label(for="author") * Author :
            input(type="text" id="author" name="author" value=book.author)
        p 
            label(for="genre") Genre :
            input(type="text" id="genre" name="genre" value=book.genre)
        p 
            label(for="year") Year :
            input(type="text" id="year" name="year" value=book.year)
        p
            input(type="submit" value="Create New Book" class='butn')
        p
            a(href="/" class='cancel butn') Cancel
